body
{
    background-color: rgb(10, 22, 39);
}

header
{
    border-bottom: 1px solid whitesmoke;
}

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger
{
    display: none;
}

.bar
{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: rgb(193, 193, 193);
}

.nav-menu
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item
{
    margin-left: 5rem;
}

.nav-link
{
    font-size: 1.6rem;
    font-weight: 400;
    color: rgb(193, 193, 193);
}

.nav-link:hover
{
    text-decoration: underline;
}

.nav-logo
{
    font-size: 2.1rem;
    font-weight: 500;
    color: rgb(254, 0, 57);
}

#profile-body
{
    display: grid;
    grid-template-columns: 1.5fr 4fr;
    grid-template-rows: 4fr 1fr;
    gap: 10px;
}

aside
{
    background-color: rgb(56, 56, 56);
    grid-column: 1;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

aside p
{
    padding-left: 15px;
    padding-right: 15px;
}

aside
{
    padding: 0px;
}

footer
{
    grid-row: 2;
    grid-column: span 2;
}

h1
{
    color:rgb(206, 206, 206);
    text-align: center;
}

h2
{
    color:rgb(206, 206, 206);
    text-align: center;
}

h3
{
    color: white;
}

p
{
    color: rgb(241, 241, 241);
}

ul
{
    list-style: none;
    padding: 0px;
}

a
{
    text-decoration: none;
}

#profile-main
{
    grid-column: 2;
    margin: 10px;
    padding: 10px;
    text-align: center;
}

#profile-main h2
{
    margin-bottom: 0px;
}

.collapsable
{
    background-color: rgb(54, 54, 54);
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: left;
    color:rgb(241, 241, 241);
    border: none;
    outline: none;
    min-height: 40px;
    padding: 18px;
    font-size: 15px;
    margin: 20px 0px 0px 0px;
    border-radius: 10px;
}

.collapsable::after
{
    content: '\00ff0b';
    font-weight: bold;
    color: white;
    float: right;
}

.active, .collapsable:hover
{
    background-color: rgb(39, 39, 39);
}
.active
{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.active::after
{
    content: "\0ff0d";
}

.dropdown-content
{
    display: none;
    /*overflow: hidden;*/
    background-color: grey;
    padding: 0px;
    /*padding: 0px 18px;*/
    min-width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.dropdown-content h3
{
    text-align: center;
    margin: 0px;
    margin-top: 18px;
}

.dropdown-content ul
{
    width: auto;
    margin: 0px;
}

.dropdown-content ul li
{
    padding: 10px;
}

.dropdown-content ul p
{
    display: inline;
}

.list-holder
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 500px)
{
    .nav-menu
    {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: rgb(10, 22, 39);
        width: 100;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu:active
    {
        left: 0;
    }

    .nav-item
    {
        margin: 2.5rem 0;
    }

    .hamburger
    {
        display: block;
        cursor: pointer;
    }

    .hamburger:active .bar:nth-child(2)
    {
        opacity: 0;
    }

    .hamburger:active .bar:nth-child(1)
    {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger:active .bar:nth-child(3)
    {
        transform: translateY(-8px) rotate(-45deg);
    }

    footer {grid-column: 1;}
    aside {grid-row: 2; grid-column: 2;}
    #profile-main {grid-column: span 2;}
}